<style>
    img {
        width: 60%;
        margin: 0 20%;
    }
    small {
        position: absolute;
        right: 0;
        top: 5rem;
    }
    h1 {
        text-align: center;
        margin: 0;
    }
</style>

<img src="<%= img %>" />
<small>בס"ד</small>
<h1><%= title %></h1>
