<style>
    img {
        width: 80%;
        margin: 0 10%;
    }
    small {
        
    }
    h1 {
        text-align: center;
        margin: 0;
    }
</style>

<img src="<%= img %>" />
<small>בס"ד</small>
<h1><%= title %></h1>
